* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #EEB3B9;
}

.card {
    /* height: 370px; */
    width: 570px;
    background-color: #77384d;
    border-radius: 7px;
    
    position: relative;
}

.txt{
    display: flex;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 97%;
    height: 33px;
    font-size: 24px;
    padding: 7px 0px 0px 13px;
}

.titleimg {
    margin-left: 6px;
}

.line {
    border-radius: 30px;
    height: 3px;
    width: 96%;
    background-color: black;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 3px;
}

.essentials {
    /* top: 50%;
    transform: translatey(430%); */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
    gap: 6px;
    margin-top: 60px;
}

.input {
    border: none;
    outline: 0;
    border-radius: 10px;
    height: 45px;
    width: 300px;
}

.copy {
    border: none;
    outline: 0;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

.generate {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
}

.dropdown{
height: 25px;
width: 25px;
padding: 15px 5px 5px 0px;
}

.hide{
    display: none;
  
}

.functions{
    display: flex;
    gap: 8px;

    padding: 12px 0px 0px 16px;
}

.functions button{
    background-color: #ffffff;
    color: #000000;
    border: 0;
    height: 36px;
    width: 68px;
    border-radius: 7px;
    text-align: center;
}

.save{
    position: relative;
    left: 30%;
}

.strength{
    padding: 12px;
    font-size: 23px;
    background-color: #6c223b;
    width: 530px;
    height: 50px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 70px;
}